{% extends "EcoleSiteBundle::layout.html.twig" %}
 
   {% block  content %}
      <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titreM orange">Primaire</h4>
            <div id="contenu" style="border-color: orange">
                 <div class="w3-container">
                    <p style="text-align: justify">
                                             En Mauritanie l'instruction est obligatoire pour les enfants âgés de 7 à 16 ans, et commence donc généralement à l'école élémentaire, à 6 ans, âge moyen de la scolarisation en CP.
Elle est, en majeure partie, dispensée dans les écoles. Cependant, ce n'est pas l'école qui est obligatoire, mais l'instruction des enfants. Dès lors, certains parents décident d'instruire eux-mêmes leurs enfants à la maison. 
                    </p> 
                </div>
               <div class="w3-container">
                  <ul class="nav nav-tabs nav-justified">
                    <li  class="active"><a href="{{path('ecole_primaire_objectif')}}">Objectifs</a></li>
                    <li><a href="{{path('ecole_primaire_classe')}}">Classes</a></li>
                    <li><a href="{{path('ecole_primaire_program')}}">Programmes</a></li>
                    <li><a href="{{path('ecole_primaire_biblio')}}">Bibliothèques</a></li>
                  </ul>
  
                    <div class="tab-content w3-border-bottom w3-border-left w3-border-right blanc">
                        <div class="w3-container">
                         {% for contenu in contenus %}
                            {% if contenu.type == 'objectifPrimaire' %}
                                {{ contenu.contenu|raw }}
                            {% endif %}
                         {% endfor %}
                        </div>
                    </div>
               </div>
            </div>
        </div> 
      </div>    
         {% block javascript %}     
           <script>
              $(function(){
                 $('#notrecole').addClass('active');
                 $('#home').removeClass('active');
                 $('#lycee').addClass('yellow');
                 $('#reseaux').hide();
              });
          </script>
        {% endblock %}
   {% endblock %}  
  


