{% extends '::base.html.twig' %}

{% block  body %}
      <div class="row" style="margin-top: -10px; margin-left: auto; margin-right: auto;">
          <div class="col-sm-3 side_first">
            {% block sidebar_first %}
                <h4 class="titreMenu yellow">Cellule'Statistique</h4>
                <div id="menu" class="w3-card-2">
                    <div class= "w3-card-2 white">
                        <a href="{{path('ecole_site_stat')}}">
                          <img src="{{asset('bundles/ecolesite/images/stat.png')}}" style="width:100%">
                                <div class="w3-container w3-animate-opacity w3-center">
                                  <h4>Résultat Bac 2015</h4>
                                </div>
                        </a>
                    </div>
                </div> <br>
                <h4 class="titreMenu red w3-card-2">Cellule'Actualité</h4>
                <div id="menu" class="w3-card-2">
                    {% for actu in actualite %}
                   <div class="carousel slide" style="">
                       <div class="carousel-inner">
                            <div class="item active w3-card-2 w3-border red w3-padding">
                                <p>  {{ actu.titre }}</p> 
                            </div>
                       </div>
                   </div>
                    {% endfor %}
                </div>
            {% endblock %}
          </div>
          <div class="col-sm-6 w3-padding-bottom">
            {% block content %}{% endblock %}
          </div>
          
          <div class="col-sm-3 sidebar_second">
            {% block sidebar_second %}
                <div id="reseaux">
                  <h4 class="titreMenu yellow w3-card-2">Cellule'RESEAUX</h4>
                    <div id="menu" class="w3-card-2">
                        <div class="w3-container w3-padding-bottom w3-card-2">
                            <div class="fb-like-box" data-href="https://www.facebook.com/pages/Cellule-du-Savoir/448685748623613" data-width="210" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                        </div>
                    </div>
                </div>
              <div id="presentation">
                <h4 class="titreMenu yellow w3-card-2"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Notre Ecole</h4>
                <div id="menu" class="w3-card-2">
                  <div class="panel-group" id="accordion">
                   <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Cellule du Savoir</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="{{path('ecole_site_presentation')}}">Présentation</a>        
                                     </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                                </span>Projet Pédagogique</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="{{path('ecole_site_pedagogie')}}">Etudes</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-flash text-success"></span><a href="">News</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Notre Cursus</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="{{path('ecole_site_primaire')}}">Primaire</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="{{path('ecole_site_college')}}">Collège</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="{{path('ecole_lycee_homepage')}}">Lycée</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
      
                </div>
               </div>
                  <br>
                <div id="coord">
                  <h4 class="titreMenu yellow w3-card-2"> <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Cellule'Coordonnée</h4>
                  <div id="menu" class="w3-padding-bottom w3-card-2">
                    <div class="w3-container w3-card-2 w3-padding-top w3-padding-bottom white">
                      <div><img src="{{asset('bundles/ecolesite/images/icones/home.jpeg')}}" style="width: 30px; height:30px;"/><span>&nbsp;&nbsp;Sebkha - Basra</span></div><br>
                      <div> <img src="{{asset('bundles/ecolesite/images/icones/phone.jpeg')}}" style="width: 32px; height:32px;"/><span>&nbsp;(+222)46332817,46445530</span></div><br>
                      <img src="{{asset('bundles/ecolesite/images/icones/mail.jpeg')}}" style="width: 30px; height:30px;"/><span>&nbsp;cellule.savoir@gmail.com</span>
                    </div>
                  </div>
                </div>
            {% endblock %}
          </div>
      </div>
{% endblock %}

     