<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cellule Du Savoir{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500italic,700' rel='stylesheet' type='text/css'>
         <!-- Latest compiled and minified CSS -->
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bundles/ecolesite/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/ecolesite/css/w3.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/ecolesite/css/style.css')}}">
        {% endblock %}
        
        {% javascripts '@EcoleSiteBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <div id="fb-root"></div>
        <div id="fb-root"></div>
         <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         
         js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>
      <script>
           $(function (){
                $('.carousel').carousel();
            });
         $('.carousel').carousel({
                interval: 3000	
            });
     </script>
     <script>
       jQuery.fn.newsTicker = jQuery.fn.newsticker = function(delay)
{
        return this.each(
                function()
                {
                        if(this.nodeName.toLowerCase()!= "ul") return;
                        delay = delay || 4000;
                        var self = this;
                        self.items = jQuery("li", self);
                        // hide all items (except first one)
                        self.items.not(":eq(0)").hide().end();
                        // current item
                        self.currentitem = 0;
                        var doTick = function()
                        {
                                jQuery.newsticker(self);
                        }
                        setInterval(doTick,delay);
                }
        )
        .addClass("newsticker")
        .hover(
                function()
                {
                        // pause if hovered over
                        this.pause = true;
                },
                function()
                {
                        // unpause when not hovered over
                        this.pause = false;
                }
        );
}
jQuery.newsticker = function(el)
{
        // return if hovered over
        if(el.pause) return;
        // hide current item
        jQuery(el.items[el.currentitem]).fadeOut("slow",
                function()
                {
                        jQuery(this).hide();
                        // move to next item and show
                        el.currentitem = ++el.currentitem % (el.items.size());
                        jQuery(el.items[el.currentitem]).fadeIn("slow");
                }
        );
}

$(document).ready(
        function()
        {
                $("#news").newsTicker();
        }
);

     </script>
     <style>
         #img_band{
             height: 130px;
             width: 235px;
         }
          #img_bandL{
             margin-top: 2px;
             height: 130px;
             width: 235px;
         }
         .modal-lg{
             width: 1030px
         }
     </style>
     
    </head>
    <body>
        <div id="GrandeIntro" style="background-color: #FFF">
            <div class="row" style="border:1px solid green; width: 100%; margin-left: -1px">
                <div class="col-sm-3" style="">
                    <div class="w3-image w3-card-2 w3-margin-top">
                        <a href=""><img id="img_band" src="{{asset('bundles/ecolesite/images/logo.gif')}}" style="width:100%"></a>
                    </div>
                </div>      
                <div class="col-sm-6" style="margin-left: 0px;">
                    <div class="carousel slide" style="">
                       <div class="carousel-inner">
                         <div class="item active"> <a href="{{path('ecole_site_primaire')}}"><img alt="" src="{{asset('bundles/ecolesite/images/primaireb.png')}}"/></a></div>
                        <div class="item">  <a href="{{path('ecole_site_college')}}"><img alt="" src="{{asset('bundles/ecolesite/images/collegeb.png')}}"/></a></div>
                        <div class="item"> <a href="{{path('ecole_lycee_homepage')}}"><img alt="" src="{{asset('bundles/ecolesite/images/lyceeb.png')}}"/></a> </div>
                     </div>
                     </div>
                </div>  
                <div class="col-sm-3" style=" width:23%">
                    <div class="w3-image w3-card-2 w3-margin-top">
                        <a href="" data-toggle="modal" data-target="#myModal"><img id="img_bandL"  src="{{asset('bundles/ecolesite/images/analphatbet.png')}}" alt="Taux d'analphabetisme"/></a>
                    </div>
                </div>  
            </div>
        </div>
        <div id="siteWrapper">
            <header>
                    <nav class="navbar navbar-inverse green">
                      <div  id="myNavbar">
                        <ul class="nav navbar-nav green">
                          <li class="active" id="home"><a href="{{path('ecole_site_homepage')}}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Accueil</a></li>
                          <li id="notrecole" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Notre Ecole <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{path('ecole_site_presentation')}}">Présentation</a></li>
                              <li><a href="{{path('ecole_site_pedagogie')}}">Projet pédagogique</a></li>
                              <li><a href="{{path('ecole_site_primaire')}}">Cellule'Primaire</a></li>
                              <li><a href="{{path('ecole_site_college')}}">Cellule'Collège</a></li>
                              <li><a href="{{path('ecole_lycee_homepage')}}">Cellule'Lycée</a></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;Notre projet éducatif <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Qualité de l'enseignement</a></li>
                                <li><a href="#">Parents & L'école</a></li>
                                <li><a href="#">Suivi & Orientation</a>i</li>
                            </ul>
                          </li>
                          <li id="actualite"><a href="{{path('ecole_site_actualite')}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Actualité</a></li>
                          <li id="co
                          </li>
                          <li id="actualite"><a href="{{path('ecole_site_actualite')}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Actualité</a></li>
                          <li id="contact"><a href="{{path('ecole_site_contact')}}"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Nous contacter</a></li>
                        </ul>
                      </div>
                  </nav>
            
            </header>
              {% block body %}{% endblock %} 
           <footer class="w3-container green">
            <p>Copyright cellule du savoir www.mohamed.dioumassi.info</p>
          </footer>
        </div>
           <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Taux d'analphabetisme dans le monde</h4>
                  </div>
                  <div class="modal-body">
                     <iframe width="1000" height="400" seamless frameborder="0" scrolling="yes" src="https://docs.google.com/spreadsheets/d/1xROJ3UrzVmfCZz4LJcvChLHSSm9csILYetIoUP_RoDc/pubchart?oid=1999087442&amp;format=interactive"></iframe>
                         <div class="w3-container w3-border">
                             <p>Le taux d'alphabétisation est un taux qui prend en compte le nombre de personnes qui savent lire et écrire sur la population totale : (nombre de personnes qui savent lire et écrire / population totale) * 100</p>
                         </div>
                         <div class="w3-container w3-border">
                             <p>L'ONU le calcule sur la base des données disponibles, pour les adultes et adolescents de plus de 15 ans. Ces données sont collectées par l’ISU (Institut de Statistiques de l’UNESCO) en combinant les estimations nationales directes et les estimations de l’ISU), à partir des estimations nationales.</p>
                         </div>
                  </div>
             
                </div>
              </div>
            </div>

        {% block javascripts %}
            <script>
            var header = document.querySelector("#siteWrapper header");
                function scrolled(){
                        var windowHeight = document.body.clientHeight/4,
                                currentScroll = document.body.scrollTop || document.documentElement.scrollTop;
                        header.className = (currentScroll >= windowHeight - header.offsetHeight) ? "fixed" : "";
                }
                addEventListener("scroll", scrolled, false);
            </script>
        {% endblock %}
    </body>
</html>
