<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Cellule Du Savoir{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" media="screen" href="{{asset('bundles/ecolesite/css/screen.css')}}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500italic,700' rel='stylesheet' type='text/css'>
         <!-- Latest compiled and minified CSS -->
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bundles/ecolesite/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/ecolesite/css/w3.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/ecolesite/css/style.css')}}">
        {% endblock %}
        
        {% javascripts '@EcoleSiteBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <div id="fb-root"></div>
        <div id="fb-root"></div>
         <script>(function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         
         js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>
      <script>
           $(function (){
                $('.carousel').carousel();
            });
         $('.carousel').carousel({
                interval: 3000	
            });
     </script>
     <style>
         #img_band{
           margin-top: 10px;
           height: 125px;
         }
          #img_bandL{
             margin-left: -28px;

         }
         .modal-lg{
             width: 1030px
         }
     </style>
     
    </head>
    <body>
        <div id="GrandeIntro" class="white" style="border:1px solid green; margin-top: 5px;height: 140px ">
          <div class="container-fluid">
            <div class="row" style="width: 100%;">
                <div class="col-sm-3" style="">
                    <div class="w3-image ">
                        <a href=""><img id="img_band" src="{{asset('bundles/ecolesite/images/logo.gif')}}"></a>
                    </div>
                </div>      
                <div class="col-sm-5 white" style="padding-top: 3px;">
                    <div class="carousel slide" style="">
                       <div class="carousel-inner">
                         <div class="item active"> <a href="{{path('ecole_site_primaire')}}"><img alt="" src="{{asset('bundles/ecolesite/images/primaireb.png')}}"/></a></div>
                        <div class="item">  <a href="{{path('ecole_site_college')}}"><img  alt="" src="{{asset('bundles/ecolesite/images/collegeb.png')}}"/></a></div>
                        <div class="item"> <a href="{{path('ecole_lycee_homepage')}}"><img alt="" src="{{asset('bundles/ecolesite/images/lyceeb.png')}}"/></a> </div>
                     </div>
                     </div>
                </div>  
                <div class="col-sm-4" style="padding-top: 2px;">
                    <div class="w3-image">
                        <a href="" data-toggle="modal" data-target="#myModal"><img id="img_bandL"  src="{{asset('bundles/ecolesite/images/carte.png')}}" alt="Taux d'analphabetisme"/></a>
                    </div>
                   <div class="w3-image" >
                       <a href="http://lm2d.com/" target="_blank"><img src="{{asset('bundles/ecolesite/images/logolmd.png')}}" style="margin-top: -152px; margin-left: 187px;height:133px; width: 235px; "></a>
                   </div>
                </div>
               
            </div>
          </div>
        </div>
            <div id="menuH" class="w3-container teal">
              <i class="material-icons w3-opennav" onclick="w3_open()">menu</i>
              <h1>Cellule du Savoir</h1>
            </div>
            <div id="menuMobile">
                <nav class="w3-sidenav white w3-card-2" style="display:none;width: 30%">
                    <a href="javascript:void(0)" 
                    onclick="w3_close()"
                    class="w3-closenav w3-large">Close ×</a>
                    <a href="#">Link 1</a>		
                    <a href="#">Link 2</a>		
                    <a href="#">Link 3</a>		
                    <a href="#">Link 4</a>		
                    <a href="#">Link 5</a>		
                  </nav>
            </div>
         
           <div id="header" class="blanc">
                   <header>
                   
                    <nav class="navbar navbar-inverse green" style="width:100%">
                      <div class="container-fluid">
                        <ul class="nav navbar-nav green">
                          <li class="active" id="home"><a href="{{path('ecole_site_homepage')}}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Accueil</a></li>
                          <li id="notrecole" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Notre Ecole <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{path('ecole_site_presentation')}}">Présentation</a></li>
                              <li><a href="{{path('ecole_site_pedagogie')}}">Projet pédagogique</a></li>
                              <li><a href="{{path('ecole_site_primaire')}}">Cellule'Primaire</a></li>
                              <li><a href="{{path('ecole_site_college')}}">Cellule'Collège</a></li>
                              <li><a href="{{path('ecole_lycee_homepage')}}">Cellule'Lycée</a></li>
                            </ul>
                          </li>
                          <!--<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;&nbsp;Notre projet éducatif <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Qualité de l'enseignement</a></li>
                                <li><a href="#">Parents & L'école</a></li>
                                <li><a href="#">Suivi & Orientation</a>i</li>
                            </ul>
                          </li>-->
                          <li id="actualite"><a href="{{path('ecole_site_actualite')}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Actualité</a></li>
                          <li id="contact"><a href="{{path('ecole_site_contact')}}"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Nous contacter</a></li>
                        </ul>
                    <ul class="nav navbar-nav navbar-right" >
                      <li><a data-toggle="modal" data-target="#id01" href="#"><span class="glyphicon glyphicon-log-in w3-margin-8 "></span> Login</a></li>
                    </ul>
                      </div>
                  </nav>
            </header>
           </div>
        <div id="siteWrapper" class="blanc w3-padding-bottom">
              {% block body %}{% endblock %} 
        </div>
        <div id="footer" class="white">
            <footer class="w3-container green">
                <p>Copyright &#169; La cellule du savoir</p>
            </footer>
        </div>
           <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Taux d'analphabetisme dans le monde</h4>
                  </div>
                  <div class="modal-body">
                     <iframe width="1000" height="400" seamless frameborder="0" scrolling="yes" src="https://docs.google.com/spreadsheets/d/1xROJ3UrzVmfCZz4LJcvChLHSSm9csILYetIoUP_RoDc/pubchart?oid=1999087442&amp;format=interactive"></iframe>
                         <div class="w3-container w3-border">
                             <p>Le taux d'alphabétisation est un taux qui prend en compte le nombre de personnes qui savent lire et écrire sur la population totale : (nombre de personnes qui savent lire et écrire / population totale) * 100</p>
                         </div>
                         <div class="w3-container w3-border">
                             <p>L'ONU le calcule sur la base des données disponibles, pour les adultes et adolescents de plus de 15 ans. Ces données sont collectées par l’ISU (Institut de Statistiques de l’UNESCO) en combinant les estimations nationales directes et les estimations de l’ISU), à partir des estimations nationales.</p>
                         </div>
                  </div>
             
                </div>
              </div>
            </div>
           <!-- Le login -->
  <div class="modal fade" id="id01" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header teal">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="w3-text-theme w3-center">Connection</h2>
        </div>
        <div class="modal-body">
          <form class="w3-container">
            <div class="w3-group">      
              <input class="w3-input" type="text" required>
              <label class="w3-label">Login</label>
            </div>
            <div class="w3-group">      
              <input class="w3-input" type="password" required>
              <label class="w3-label">Mot de passe</label>
            </div>
            <br>
            <button class="w3-btn w3-theme">Se connecter </button>
            <br><br>
          </form>
        </div>
        <div class="modal-footer teal">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

        {% block javascripts %}
            <script>
            var header = document.querySelector("#header header");
                function scrolled(){
                        var windowHeight = document.body.clientHeight/4,
                                currentScroll = document.body.scrollTop || document.documentElement.scrollTop;
                        header.className = (currentScroll >= windowHeight - header.offsetHeight) ? "fixed" : "";
                }
                addEventListener("scroll", scrolled, false);
            </script>
            
            <script>
                function w3_open() {
                    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
                }
                function w3_close() {
                    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
                }
             </script>
        {% endblock %}
    </body>
</html>
