{% extends "EcoleAdminBundle::layout.html.twig" %}

{% block content -%}
     <h4 class="titre red"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Cellule'ACTU</h4>
        <div id="contenu" style="border-color:red">
            <div class="w3-container">
                {% for entity in entities %}
                    <ul class="nav nav-tabs">
                       <li class="active"><a href="{{ path('actualite_show', { 'id': entity.id }) }}">Voir</a></li>
                       <li><a href="{{ path('actualite_edit', { 'id': entity.id }) }}">Modifier</a></li>
                       <li><a href="{{path('ecole_admin_homepage')}}">Visualiser</a></li>
                    </ul>
                    <table class="record_properties w3-border-bottom w3-border-left w3-border-right" style="margin-bottom: 10px;background-color: #fff;">
                       <tbody>
                           <tr>
                               <th>Titre</th>
                               <td>{{ entity.titre }}</td>
                           </tr>
                           <tr>
                               <th>Contenu</th>
                               <td><div>{{ entity.contenu|raw  }}</div></td>
                           </tr>
                           <tr>
                               <th>Date</th>
                               <td>{{ entity.timestamp|date("m/d/Y") }}</td>
                           </tr>
                           <tr>
                               <th>Active</th>
                               <td>{{ entity.active }}</td>
                           </tr>
                       </tbody>
                     </table>
                  {% endfor %}
            </div>

            <!-- Trigger the modal with a button -->
            <a href="{{path('actualite_new')}}" class="btn btn-info btn-lg">Ajouter un article</a>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                  </div>
                 <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
               </div>
  {% endblock %}
  {% block sidebar %}
        <h4 class="titre yellow">Administration</h4>
        <div id="menu">
            <ul class="w3-ul w3-large">
                   <li class="select"><a href="{{path('actualite')}}">Gestion actualité</a></li>
                  
               </ul>
        </div>
     {% endblock %}  
  {% block javascript %}     
         <script>
             $(function(){
                $('#myNavbar #actualite').addClass('active');
                $('#myNavbar #home').removeClass('active');
             });
         </script>
     {% endblock %}