{% extends "EcoleSiteBundle::layout.html.twig" %}
    {% block  content %}
       <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titre green"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Formulaire de Contact</h4>
            <div id="contenu">
               <div class="w3-container">
                <form class="w3-container w3-card-2" method="POST" action="{{path('ecole_site_contact')}} {{ form_enctype(form) }}">
                    <div class="w3-group">      
                        {{ form_widget(form.nom, {'attr': {'class': 'w3-input', 'style':'width:90%'}}) }}
                        {{ form_label(form.nom, 'Votre nom', {'label_attr': {'class': 'w3-label'}}) }}
                    </div>
                     <div class="w3-group">      
                        {{ form_widget(form.email, {'attr': {'class': 'w3-input', 'style':'width:90%'}}) }}
                        {{ form_label(form.email, 'Votre email', {'label_attr': {'class': 'w3-label'}}) }}
                      </div>
                    <div class="w3-group">      
                        {{ form_widget(form.objet, {'attr': {'class': 'w3-input', 'style':'width:90%'}}) }}
                        {{ form_label(form.objet, 'Votre objet', {'label_attr': {'class': 'w3-label'}}) }}
                      </div>
                      <div class="w3-group">      
                        {{ form_widget(form.message, {'attr': {'class': 'w3-input', 'style':'width:90%'}}) }}
                        {{ form_label(form.message, 'Votre message', {'label_attr': {'class': 'w3-label'}}) }}
                      </div>
                    <button class="w3-btn teal" type="submit">Envoyer</button>
                </form>
               </div>
            </div>
        </div>         
      </div>
      {% block javascript %}     
          <script>
              $(function(){
                 $('#presentation').hide();
              });
          </script>
        {% endblock %}
   {% endblock %}  
 

