{% extends "EcoleSiteBundle::layout.html.twig" %}
 
   {% block  content %}
      <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titre teal-l2">Lycée</h4>
            <div id="contenu" style="border-color: teal">
              <div class="w3-container">
              <p>Quibus ita sceleste patratis Paulus cruore perfusus reversusque ad principis castra multos coopertos paene catenis adduxit in squalorem deiectos atque maestitiam, quorum adventu intendebantur eculei uncosque parabat carnifex et tormenta. et ex is proscripti sunt plures actique in exilium alii, non nullos gladii consumpsere poenales. nec enim quisquam facile meminit sub Constantio, ubi susurro tenus haec movebantur, quemquam absolutum.</p>
              <p>Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</p>
            </div>
               <div class="w3-container">
                   <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#objectif">Objectifs</a></li>
                    <li><a data-toggle="tab" href="#classe">Classes</a></li>
                    <li><a data-toggle="tab" href="#program">Programmes</a></li>
                    <li><a data-toggle="tab" href="#library">Bibliothèques</a></li>
                  </ul>
  
                    <div class="tab-content w3-border-bottom w3-border-left w3-border-right">
                      <div id="objectif" class="tab-pane fade in active w3-container">
                        <h3>Objectifs</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                      <div id="classe" class="tab-pane fade w3-container">
                        <h3>Les classes</h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                      <div id="program" class="tab-pane fade w3-container">
                        <h3>Les programmes</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      </div>
                      <div id="library" class="tab-pane fade w3-container">
                        <h3>Bibliothèques</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                      </div>
                    </div>
               </div>
            </div>
        </div> 
      </div>    
   {% endblock %}  
   {% block sidebar %}
         <h4 class="titre yellow"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Notre Ecole</h4>
            <div id="menu">
               <ul class="w3-ul w3-large">
                   <li class="select"><a href="{{path('ecole_site_presentation')}}">Présention</a></li>
                   <li><a href="{{path('ecole_site_pedagogie')}}">Projet pédagogique</a></li>
                   <li><a href="{{path('ecole_site_primaire')}}">Cellule'Primaire</a></li>
                   <li><a href="{{path('ecole_site_college')}}">Cellule'Collège</a></li>
                   <li><a href="{{path('ecole_site_lycee')}}"><span class="activeMenu">Cellule'Lycée</span></a></li>
               </ul>
           </div>
     {% endblock %} 
      {% block javascript %}     
         <script>
             $(function(){
                $('#myNavbar #notrecole').addClass('active');
                $('#myNavbar #home').removeClass('active');
             });
         </script>
     {% endblock %}

