{% extends "EcoleSiteBundle::layout.html.twig" %}
   {% block  content %}
      <div class="row">
        <div class="col-sm-12"> 
            <h4 class="titre green">Présentation</h4>
            <div id="contenu">
                <div class="w3-container">
                    <h3>Présentation</h3>
                    <p style="text-align: justify">
                        Créee en Juillet 2012 par Arrêté Ministériel N° 1430 du 02 juillet 2012, l’Ecole Privée « Cellule du savoir » est un complexe scolaire  qui regroupe:
                    <ul>
                    <li>un jardin d’enfants (enseignement préscolaire), comportant une crèche, une petite section, une moyenne section et une grande section ;</li>
                    <li>   une école fondamentale à cycle complet (enseignement de base)</li>
                    <li>    une école secondaire comportant un 1er cycle et un 2eme cycle (collège et lycée).</li>
                    </ul>   
                    Elle est implantée à Nouakchott, dans la commune de Sebkha, à Basra sur l’axe goudronné entre Etage Kassé et l’arrivage Basra.
                    <h3>Objectif</h3>
                    <p>
                       Le complexe des Ecoles Privées «  Cellule du Savoir » s’est fixée dés le début un objectif majeur qui est de tendre vers l’Excellence en enseignant autrement, en d’autres termes :
                        utiliser des pratiques nouvelles pour aider les enfants autrement, c’est-à-dire mieux afin de conduire avec succès le maximum d’élèves à la réussite des concours d’entrée en 1ere année secondaire, au BEPC et aux Examens du Baccalauréat ;
                        dispenser  des cours en informatique dès le primaire, à partir de la 5e AF, afin de familiariser ses élèves aux outils informatiques.
                        faire prendre conscience aux élèves, dans leurs études, de l’importance de toutes les disciplines enseignées à l’Ecole Privée, y compris celles que les élèves appellent à tort les matières secondaires.
                        de faire enfin de l’Ecole Privée « cellule du savoir », un lieu de vie véritable, pour favoriser le transfert des compétences pratiques et théoriques minimales aux élèves, tout en développant chez eux le sentiment de solidarité, en leur apprenant à s’enrichir de leurs différences mutuelles, dans le but de façonner le citoyen de demain garant de notre développement

                    </p>
                     <h3>Perspective</h3>
                    <p>
                        A car is a wheeled, self-powered motor vehicle used for transportation.
                        Most definitions of the term specify that cars are designed to run primarily on roads,
                        to have seating for one to eight people, to typically have for one to eight people,
                        to typically have four wheels. (Wikipedia)
                    </p>
                </div>
            </div>
        </div> 
      </div> 
        {% block javascript %}     
          <script>
              $(function(){
                 $('#myNavbar #notrecole').addClass('active');
                 $('#myNavbar #home').removeClass('active');
              });
          </script>
        {% endblock %}
   {% endblock %}  
   {% block sidebar_second %}
         <h4 class="titre yellow"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Notre Ecole</h4>
            <div id="menu">
               <ul class="w3-ul w3-large">     
                   <li><a href="{{path('ecole_site_presentation')}}"><span class="activeMenu">Présentation</span></a></li>
                   <li><a href="{{path('ecole_site_pedagogie')}}">Projet pédagogique</a></li>
                   <li><a href="{{path('ecole_site_primaire')}}">Cellule'Primaire</a></li>
                   <li><a href="{{path('ecole_site_college')}}">Cellule'Collège</a></li>
                   <li><a href="{{path('ecole_lycee_homepage')}}">Cellule'Lycée</a></li>
               </ul>
           </div>
     {% endblock %} 
 
     

