{% extends "EcoleSiteBundle::layout.html.twig" %}
    {% block  content %}
        <div class="row">
            <div class="col-sm-12">
               <h4 class="titreM yellow"><span class="glyphicon glyphicon-tags"></span>&nbsp;Pré-inscription</h4>
                <div id="contenu" class="w3-card-2">
                  <div class="form-group">
                    
                  </div>
                  
                  {{ form_start(form) }}
                  <fieldset class="well"><legend class="w3-border w3-margin-top grey-l4" style="padding-left: 10px; border-radius: 10px; font-size: 16px; width: 40%">Elève</legend>
                    <div class="form-group">
                        {{ form_label(form.nom, 'Nom:')}}
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom) }}
                    </div>
                     <div class="form-group">
                        {{ form_label(form.prenom, 'Prenom:')}}
                        {{ form_errors(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                    </div>
                      <div class="form-group">
                        {{ form_label(form.age, 'Age:')}}
                        {{ form_errors(form.age) }}
                        {{ form_widget(form.age) }}
                    </div>
                  </fieldset>
                  {{ form_end(form) }}
                  </div>
                </div>
        </div>
        {% block javascript %}     
          <script>
              $(function(){
                 $('#presentation').hide();
                 $('#eleve_nom,#eleve_prenom,#eleve_age').addClass('form-control');
              });
          </script>
        {% endblock %}
   {% endblock %}
    

  
